@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

$min_width: 320px;
$max_width: 1440px;
$min_font: 24px;
$max_font: 48px;

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   // line-height: 1.5;
// }

// h1,
// h2,
// h3 {
//   font-weight: 700 !important;
//   // margin-block-end: 1rem;
// }

// h4,
// h5,
// h6 {
//   font-weight: 600;
//   margin-block-end: 0.5rem;
// }

h1 {
  @include fluid-type($min_width, $max_width, 32px, 54px);
}

h2 {
  @include fluid-type($min_width, $max_width, 28px, 48px);
}

h3 {
  @include fluid-type($min_width, $max_width, 26px, 40px);
}

.medium-text {
  @include fluid-type($min_width, $max_width, 16px, 20px);
}

.large-text {
  @include fluid-type($min_width, $max_width, 20px, 24px);
}

.Xlarge-text {
  @include fluid-type($min_width, $max_width, 24px, 30px);
}

p,
span {
  margin-block: 0;
  @include fluid-type($min_width, $max_width, 12.5px, 16px);
}

.tiny-text {
  @include fluid-type($min_width, $max_width, 10px, 12px);
}

.small-text {
  @include fluid-type($min_width, $max_width, 12px, 14px);
}

.btn-small-text {
  @include fluid-type($min_width, $max_width, 14px, 16px);
}

.btn-medium-text {
  @include fluid-type($min_width, $max_width, 16px, 20px);
}

.btn-large-text {
  @include fluid-type($min_width, $max_width, 20px, 25px);
}

.logo-large-text {
  @include fluid-type($min_width, $max_width, 33px, 43px);
}

.logo-medium-text {
  @include fluid-type($min_width, $max_width, 20px, 26px);
}

.logo-text {
  @include fluid-type($min_width, $max_width, 10px, 43px);
}

// @mixin fluid-font(
//   $min-px,
//   $max-num,
//   $min-num,
//   $min-screen,
//   $max-sc-num,
//   $min-sc-num,
//   $max-px,
//   $max-screen
// ) {
//   font-size: $min-px;

//   @media (min-width: $min-screen) and (max-width: $max-screen) {
//     font-size: calc(
//       #{$min-px} + #{($max-num - $min-num)} * ((100vw - #{$min-screen}) / #{(
//               $max-sc-num - $min-sc-num
//             )})
//     );
//   }

//   @media (min-width: $max-screen) {
//     font-size: $max-px;
//   }
// }

// h6 {
//   @include fluid-font(13px, 16, 13, 320px, 1440, 320, 16px, 1440px);
//   //fixed
// }

// p {
//   @include fluid-font(16px, 22, 16, 320px, 1440, 320, 20px, 1440px);
// }

// h5 {
//   @include fluid-font(18px, 24, 18, 320px, 1440, 320, 24px, 1440px);
// }

// h4 {
//   @include fluid-font(22px, 32, 22, 320px, 1440, 320, 32px, 1440px);
// }

// h3 {
//   @include fluid-font(24px, 40, 24, 320px, 1440, 320, 40px, 1440px);
//   //fixed
// }

// h2 {
//   @include fluid-font(28px, 48, 28, 320px, 1440, 320, 48px, 1440px);
//   //fixed
// }

// h1 {
//   @include fluid-font(32px, 54, 32, 320px, 1440, 320, 54px, 1440px);
//   //fixed
// }
