$green: #175616;
$black: #000000;
$cream: #f6f6ec;
$white: #ffffff;
$cream2: #e8ece0;

$colors: (
  "green": $green,
  "black": $black,
  "white": $white,
  "cream": $cream,
  "cream2": $cream2,
  "red": #FF0000,
);

$regular: 400;
$medium: 500;
$bold: 700;

$fontWeight: (
  "regular": $regular,
  "medium": $medium,
  "bold": $bold,
);
